body {

    font-family: arial, sans-serif;
    line-height: 1.6;
    margin: 20px;

}

h1,h2 {
    color: #1a73e8;
}

img {

    width: 200px;
    border-radius: 10px;
}

table {

    border-collapse: collapse;
}

table, th, td {

    border: 1 px solid #333;
    padding: 8px;
}

button {

    background: #1a73e8;
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.features{

    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;

}

.feature-box{
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba (0,0,0,0.1);
    width: 250px;
    text-align: center;
}

.team {
   display:flex;
   justify-content: center;
   gap:30px;
   margin-top: 60px;
}

.member{
    background: #fff;
    padding: 20px;
    width:220px;
    text-align:center;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba (0,0,0,0.1);

}

.member img {

    width:100%;
    border-radius: 12 px;

}