
.sticky-header {

    position: sticky;
    top: 0;
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    z-index: 100;
}


body {

    font-family: arial, sans-serif;
    line-height: 1.7;
    margin: 20px;
    color: #333;

}

h1,h2 {
    color: #1a73e8;
}

img {

    width: 200px;
    border-radius: 10px;
}

table {

    border-collapse: collapse;
}

table, th, td {

    border: 1 px solid #333;
    padding: 8px;
}

button {

    background: #1a73e8;
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.features{

    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;

}

.feature-box{
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba (0,0,0,0.1);
    width: 250px;
    text-align: center;
}

.team {
   display:flex;
   justify-content: center;
   gap:30px;
   margin-top: 60px;
}

.member{
    background: #fff;
    padding: 20px;
    width:220px;
    text-align:center;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba (0,0,0,0.1);

}

.member img {

    width:100%;
    border-radius: 12 px;

}

.feature-box, .member {

    padding: 20px;
    border-radius: 12px;
    margin: 10px;
}

h1 {

    font-size: 2.2rem;
    margin-bottom: 20px;
}

h2 {

    font-size: 1.8rem;
    margin-bottom: 15px;
}

h3 {

    font-size: 1.3rem;
    margin-bottom: 10px;
}

.feature-box: hover {

    transform: translateY (-5PX);
    Box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    transition:0.3;
}


.feature-box, .member {

    transition: 0.3s;
}

.member:hover {

    transform: scale (1.03);
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba (0,0,0,0.2);

}

.float-btn {

    position:fixed;
    bottom: 20px;
    right: 20px;
    background: #4f74f9;
    color: white;
    padding: 12px 18px;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    
}


