
.sticky-header {

    position: sticky;
    top: 0;
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    z-index: 100;
}


body {

    font-family: arial, sans-serif;
    background: #f5f5f5;
    line-height: 1.7;
    margin: 0;
    padding: 0;

}

h1,h2,h3 {
    color: #1877f2;
}

img {

    width: 200px;
    border-radius: 10px;
}

table {

    border-collapse: collapse;
}

table, th, td {

    border: 1 px solid #333;
    padding: 8px;
}

button {

    background: #1a73e8;
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.features{

    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;

}

.feature-box{
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba (0,0,0,0.1);
    width: 250px;
    text-align: center;
}

.team {
   display:flex;
   justify-content: center;
   gap:30px;
   margin-top: 60px;
}

.member{
    background: #fff;
    padding: 20px;
    width:220px;
    text-align:center;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba (0,0,0,0.1);

}

.member img {

    width:100%;
    border-radius: 12 px;

}

.feature-box, .member {

    padding: 20px;
    border-radius: 12px;
    margin: 10px;
}

h1 {

    font-size: 36px;
    margin-bottom: 10px;
}

h2 {

    font-size: 28px;
    margin-bottom: 8px;
}

p{

    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 18px;
}

h3 {

    font-size: 1.3rem;
    margin-bottom: 10px;
}

.feature-box: hover {

    transform: translateY (-5PX);
    Box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    transition:0.3;
}


.feature-box, .member {

    transition: 0.3s;
}

.member:hover {

    transform: scale (1.03);
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba (0,0,0,0.2);

}

.float-btn {

    position:fixed;
    bottom: 20px;
    right: 20px;
    background: #4f74f9;
    color: white;
    padding: 12px 18px;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    
}

.about {

    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {

    background: #f1f1f1;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    font-size: 18px;
}


#projects {

    padding: 40px;
    text-align: center;
}

.project-card {

    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
    background: #fafafa;
}

.project-card h3 {

    margin-bottom: 10px;
    color: #333;
}

.project-card a {

    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: dodgerblue;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

section {

    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

a {

    color: #1877f2;
    text-decoration: none;

}

a:hover {

    text-decoration: underline;
}

footer {

    text-align: center;
    padding: 15px;
    color: #555;
    font-size: 14px;
}

nav {

    background: #0a74da;
    padding: 15px;
}

nav ul {

    list-style: none;
    display: flex;
    gap:20px;
}

nav a {

    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav:hover {

    text-decoration: underline;
}

/* desktop default */
nav ul {
    display: flex;
    gap: 30px;
}

/* mobile */
@media (max-width:768px){
    navul {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .intro-text {
        font-size: 24px;
        text-align: center;
    }
    
    .profile-photo {
        width: 180px;
    }
}

@media (max-width:768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature-box {
        width: 90%;
    }
}

{
*box-sizing: border-box;
}

@media (max-width: 768px) {

    body{
        padding:10px;
    }

    .features,
    .team {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .feature-box,
    .member {
        width: 100%;
        max-width: 350px;
        flex: 1;
        margin: 0 10px;
    }
}

@media (min-width: 1024px) {

    body {

        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {

    .features,
    .team {

        flex-direction: row;
    }

}

@media (min-width:1024px) {

    .feature-box,
    .member {

        max-width: 300px;
    }
}

.container {

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {

    margin-bottom: 80px;
}

section {

    margin-bottom: 100px;
}

@media (min-width:1024px) {

    h1 {
        font-size: 48px;
    }

    h2 {

        font-size: 32px;
    }

    p {

        font-size: 18px;
    }
}