body {

    font-family: arial, sans-serif;
    line-height: 1.6;
    margin: 20px;

}

h1,h2 {
    color: #1a73e8;
}

img {

    width: 200px;
    border-radius: 10px;
}

table {

    border-collapse: collapse;
}

table, th, td {

    border: 1 px solid #333;
    padding: 8px;
}

button {

    background: #1a73e8;
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    curser: pointer;
}